<footer class="bg-black class footerBg">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col col-lg-6">
                <img src="footerlogo.png" alt="" class="w-25">
            </div>
            <div class="col col-lg-6">
                <ul class="d-flex justify-content-end gap-3">
                    <li>
                        <a class="w-25" href=""><img src="facebook.png" alt=""></a>
                    </li>
                    <li>
                        <a class="w-25" href=""><img src="instagram.png" alt=""></a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
