<div class="container p-5" *ngIf="productDetails">
    <div class="row">
        <div class="col col-lg-6">
            <img src={{productDetails.product_image}} alt="" width="500">
        </div>
        <div class="col col-lg-6">
            <h1>{{productDetails.product_title}}</h1>
            <p>{{productDetails.product_details}}</p>
            <span>${{productDetails.price}}</span>
            <div class="d-flex flex-column">
                <span>Product Dimensions</span>
                <p>{{productDetails.product_dimensions}}</p>
            </div>
        </div>
    </div>
</div>
