.hero-heading{
    z-index: 5;
    font-size: 5em;
    /* color: #fffefd; */
}

.heroBackgroundOpacity{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.328);
    z-index: 1;
}

.heroText{
    z-index: 5;
}

.heroSection{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/spanish-girl-header.jpg");  
}

.aboutSection{
    background-color: #EBE7DC;
}

.cta{
    background-color: #FD6A21;
    padding: 1rem 2rem 1rem 2rem;
}

.furnitureOffer{
    min-height: 500px;
    background-image: url("/furniture-offer.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.backgroundOpacity{
    background-color: rgba(0, 0, 0, 0.324);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.furnitureBody{
    z-index: 5;
}

.newsletterBox{
    background-color: #C65535;
    min-height: 500px;
}

.emailInput::placeholder{
    color: white;
}

.newsletterLeft{
    background-image: url("/left-newsletter-fabric.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletterRight{
     background-image: url("/saddle-navajo-newsletter.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    background-size: 130%;
    background-position: bottom;
}